<div class="container">

  <div class="row">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default questions-box">
          {{#each question in controller.model itemController="questions/item"}}
              <div class="panel-heading" role="tab">
                  <a class="question-title" data-toggle="collapse" data-parent="#accordion" {{bind-attr href=question.hashCollapsedId}} aria-expanded="true" aria-controls="collapseOne">
                    <div class="panel-title">
                      <h5>{{question.model.title}}</h5>
                    </div>
                  </a>
              </div>

              <div {{bind-attr id=question.collapsedId}} class="panel-collapse collapse" role="tabpanel" {{bind-attr aria-labelledby=question.collapsedId}}>
                  <div class="panel-body">
                    <p>{{question.model.body}}</p>
                    <h6><a {{bind-attr href=question.model.answerLink}} target="_blank">{{question.model.answerLink}}</a></h6>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6 text-muted">
                            <span class="label label-default">{{question.model.type}}</span>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-6text-muted">
                          <div class="pull-right">
                            <span style="font-size: 12px">source: </span><span class="label label-primary">{{question.model.source}}</span>

                          </div>
                        </div>
                    </div>
                  </div>
              </div>
              <br/>
          {{/each}}
        </div>

    </div><!-- end panel-group-->

    {{outlet}}
  </div><!-- /end row -->
</div><!-- /end container-->
